ol, ul {
    background-color: rgb(255, 0, 98);
    width: 15%;
    display: inline-block;
    margin: 20px;
    border: 2px solid black;
    border-radius: 20px;
    }
    li {
    color: white;
    background-color: rgb(228, 13, 13);
    margin: 10px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 20px;
    }