p{
    border: 1px solid red;
    width: 15%;
    display: inline-block;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    text-align: justify;
    font-family: Comic Sans MS;
    color: white;
    background: linear-gradient(45deg,red,green);
    }